/* CSS Document */
/* Path: resources/css/inicio.css */


/* Configuración de back */
body{
    background-color: #F3F0EC;
    margin: 2%;
}


/* Configuración de letras */

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

h4{
    color: rgb(177, 56, 0);
}

/* Configuracion de los blogs */
.flex-container {
    display: flex;
    align-items: center;
    border-bottom: #7a7a7a 1px solid;
    border-top: #7a7a7a 1px solid;
    margin-top: 1px;

}
.flex-container img {
    margin-right: 10px;
    max-width: 250px;
    max-height: 250px;
}

#a-blog{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

#imgBlog{
    margin: 3px;
    margin-right: 30px;
}

/* Configuración de header y footer */

header{
    margin-top: 30px;
}

footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
}

.header-container{
    background-color: white;
    min-height: 90hv;

}

.container-btn{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.btn-box{
    display: center;
    text-align: center;
    padding: 2px 1px 0;
}
#a-header{
    color: black;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    margin: 3% ;
}
#a-header:hover{
    border-bottom:1px solid;
    background: rgb(109, 109, 109);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.d-block{
    height: 30%;
}

/* Configuración de Login */

.login-container{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 90hv;
    padding-top: 10%;
}

.container-box{
    background-color: #999;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box{
    background-color: #A4A4A4;
    border-radius: 3%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;

}

#iconoLogin{
    height: 90px;
    padding-left: 35%;
    padding-bottom: 5%;
    box-shadow: 1%;
}

.btn-conteiner{
    display: flex;
    padding-top: 10%;
}

#txt-iniciarSesion{
    padding-left: 15%;
}

.form-group{
    padding-left: 5%;
    max-width: 50%;
    max-height: 30%;
}

#btnIniciarSesion{
    color: white;
    background-color: #008419;
    border-radius: 10%;
    margin-left: 25%;
}
.form-control{
    width: 20%;

}
.form-select{
    width: 20%;

}
#btnCancelarSesion{
    color: white;
    background-color: #DB1111;
    border-radius: 10%;
}

#usernametutor{
    border-radius: 3px;
}

#passwordtutor{
    border-radius: 3px;
}

#usernamepersonal{
    border-radius: 3px;
}

#passwordpersonal{
    border-radius: 3px;
}

#botoncrear{
    margin-bottom: 50px;
}


/* Configuración de texto estático */

.container-mision{
    margin-top: 20px;
    text-align: center;
}

.h3-mision{
    margin-top: 40px;
}

/* Configuración de tablas */

.container{
    margin-left: 5%;
    margin-right: 50%;
    max-width: 90%;
    max-height: 60%;
}

.table{
    margin-left: 20%;
    margin-right: 50%;
    max-width: 60%;
    max-height: 60%;
}

/* Configuración de Navbar */

.navbar {
    margin-top: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;
    margin: 0;
    display: flex;
}

.nav li {
    margin: 0 15px; /* Espaciado entre elementos */
}

/* Estilos adicionales para centrar la navbar */
.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 10px; /* Espaciado entre elementos */
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}


/*Configuración de títulos de tablas */
.col-sm-8{
    margin-left: 1%;
}
.col-sm-3{
    margin-top: 1%;
    margin-left: 1%;
}

/* Configuración de perfilPersonal */
#btn-editardato{
    margin-bottom: 8px;
    background-color: #008419;
    border-color: #008419;
    box-shadow: 3px 3px 3px #999;
}
/* Configuración de flipbox */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
    border-radius: 40px;
  }
  
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
    border-radius: 40px;

  }